@charset "UTF-8";

@font-face {
    font-family: 'DNA';
    src: url(C:/Users/brad/OneDrive/Desktop/Milena/BSB-DNA-Nordeste-project/fontes/SynchroPlain.otf) format('opentype');
    font-weight:lighter;
}

@font-face {
    font-family:'itens' ;
    src: url(C:/Users/brad/OneDrive/Desktop/Milena/BSB-DNA-Nordeste-project/fontes/Orbitron-VariableFont_wght.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root{
    --cor1:black;
    --cor2:white;
    --cor3:rgb(253, 0, 2);
    --cor4:rgb(167, 164, 164);

    --fonte-padrao:'PT Mono', monospace;
    --fonte-dna:'DNA';
    --fonte-itens:'itens';
}

*{
    margin:0px;
    padding: 0px;
}

                        /* NAV */

nav{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:  20px 200px;
    margin: auto;
    
}

.background-color-nav{
    background-color: var(--cor1);
    text-align: center; 
    border-bottom: 2px solid var(--cor3);

}

a{ 
    text-decoration: none;
    font-family: 'itens';
    transition-duration: 0.6s;
    font-weight: lighter ;
    
}

a:hover{
    color:var(--cor3);

}

.nav-links{
    margin: 20px 30px;
    color:var(--cor2);
    border-radius:5px;
    font-weight: lighter ;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

#nav-links-BSB{
    font-family: var(--fonte-dna);
    margin: 20px 30px;
    color:var(--cor2);
    border-radius:5px;
    font-weight: lighter ;
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
}




                        /* HEADER */
.div-header-image{


}

.div-header-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    color: var(--cor4);
    display: flex;
    flex-direction: column;
}

header{
    background-color: black; 
    margin: auto; 
    align-items: center;
    font-family: 'DNA';
    height: 80vh;
    display: flex;
    color:var(--cor2);
    
}
 

.pic-head-index{
     max-width: 70vw; 
    height:80vh;
    border-bottom: 2px solid var(--cor3);
    border-right:2px solid var(--cor3) ;
}

.div-header-content{
    text-align: center; 
    align-items: center; 
    justify-content: center;
    font-family:var(--fonte-padrao);
    font-size: 1.5em;
    color: var(--cor4);
    display: flex;
    height:80vh;
    background-image: url('imagens/fans-bsb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    
}

/* .bsb-faces{
    max-width: 700px;
    border: 1px solid var(--cor4);
    border-radius: 30px;
    box-shadow: 0px 0px 5px var(--cor1);
} */

.logo-BSB-DNA-Nordeste{
    margin: 40px;
       
}

.h1-header{
    color: var(--cor2);
    font-size: 70px;
    text-shadow: 1px 1px 10px var(--3);

    
}

.p-header{
    margin: 20px;
    max-width: 760px;
}

.header-a{
    background-color: var(--cor1);
    border:2px solid var(--cor2);
    border-radius: 1px;
    text-decoration: none;
    color: var(--cor2);
    padding: 20px;
    margin-top: 20px;

}

                    /* MAIN */

main{
    min-width: 300px;
    width: 1500px;
    margin: auto;
    color: var(--cor4);
    background-color: var(--cor1);
    margin-bottom: 30px;
    padding: 0px 0px 20px 0px;
    border-radius: 0px 0px 10px 10px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* box-shadow: 0px 0px 10px var(--cor4); */
}

main h1{
    text-align: center;
    color: var(--cor2);
    font-family: var(--fonte-dna);
    font-weight: lighter;
    font-size: 4em;
    padding-bottom: 20px;
    /* border-top:1px solid var(--cor3); */
    border-bottom:2px solid var(--cor3);
}

main p{
    max-width: 1000;
    color:var(--cor4);
    font-family: var(--fonte-padrao);
    /* padding-bottom: 50px; */
    margin: 15px 15px;
    text-align: justify; 
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 2em; 
}


main > a{ 
    color:var(--cor1);
    border-radius:5px;
    text-decoration: none;
    font-weight: lighter ;
    transition-duration: 0.6s;
    font-size: 1.2em;
    font-family: 'itens';
    align-items: center;
    padding-bottom: 50px;
}

main > article > a:hover{
    color:red;
    align-items: center;
}

                /* MAIN-TOUR DATES */
.bsb-faces{
    max-width: 700px;
    margin: 50px auto;

}
.bsb-faces > img{
    border-radius: 30px;
    width: 100%;
   
}

#tourdates-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#tabletourdates-table{
   border-collapse: collapse;
   margin: auto;
   border: 1px solid black;

}

.tr-emphasis-Brazil{
    background-color:rgb(166, 255, 0);
    color: var(--cor1);
    border-radius: 5px;

}

th{
    font-size: 2em;
}

td, th{
    padding: 10px;
    border: 1px solid black; 
    text-align: center;
    font-family: var(--fonte-padrao);
}
td{
    font-size: 1em;
}




                /* ABOUT US */

.image-aboutus{
    border-radius: 40px solid var(--cor3);
    margin-top:  40px auto;
    align-items: center;
    display: flex;
}
.div-geral{
    display: flex;
    flex: wrap;
}

.div-p-1{
    max-width: 760px;
    min-width: 700px;
    align-items: right ;
    margin: 20px;
}

.aj-face{
    max-width: 760px;
    min-width: 600px;
    align-items: left ;
    margin: 20px;



}

.p-aboutus{
    max-width: 760px;
    margin:  20px auto;
}

.div-ol{
    border: 1px solid var(--cor3);
    border-radius: 20px;
    max-width: 770px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 5px var(--cor2);

}

li{
    list-style-position: inside;
    max-width: 760px;
    color:var(--cor4);
    font-family: var(--fonte-padrao);
    /* margin: 15px 15px; */
    text-align: justify; 
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 2em; 
    margin:  10px auto;
}


                /* SETLIST */
 /* .div-geral-setlist{
    display: flex; 
    
} */
 .setlist{
     background-color: var(--cor1);
    color:var(--cor2);
    
} 
/* .links-setlist{
        margin: 30px;
}  */









                /* FOOTER */

footer{
    background-color: var(--cor1);
    color:var(--cor4);
    text-align: center;
    border-top: 2px solid var(--cor3);
    

}
i{
    font-family: var(--fonte-itens);
    margin-right: 10px;
    font-size: 30px;
}

.footer-hr{
    width: 20%;
    text-align: center;
    margin: auto;
    color: var(--cor4);
}
#a-footer{
    padding: 0px;
    margin:10px;
    color:var(--cor2);
    text-decoration: none;
    font-weight: lighter ;
    transition-duration: 0.6s;
    font-size: 1em;
    font-family: 'itens';
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
#a-footer:hover{
    color:var(--cor3);
}
.p-footer{
    font-family: var(--fonte-padrao);
}